@font-face {
  font-family: vasir;
  src: url(./vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.woff2);
}
* {
  margin: 0;
  border: none;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
  user-select: none;
  font-family: var(--font-cart);
}
:root {
  --bg-color-body: #f0eff2;
  --color-session: #f8f8fa;
  --bg-color-btn: #db071c;
  --bg-color-by: #101010;
  --bg-color-hover: #bebebe;
  --color-text-info: #a0a0a0;
  --color-copyright: #101010c0;
  --color-shadow: #0000001a;
  --font-cart: vasir;
  --bg-color-menu: #ffffff;
}
body {
  background-color: var(--bg-color-body);
}
/** header */
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-session);
  border-radius: 10px;
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 0 5px;
  position: sticky;
  z-index: 2;
  top: 5px;
}
#logo_header {
  max-width: 90px;
  height: auto;
}
#cart,
#menu-btn {
  border-radius: 70px;
  width: 35px;
  height: 35px;
  background-color: var(--bg-color-btn);
  align-items: center;
  color: var(--color-session);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.6s ease;
}

@media (hover: hover) and (pointer: fine) {
  #menu-btn:hover,
  #cart:hover {
    background-color: var(--color-session);
    color: var(--bg-color-btn);
  }
}
.container-menu {
  position: relative;
}
.menu {
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  padding: 5px;
  direction: rtl;
  background-color: var(--bg-color-menu);
  position: absolute;
  top: 100%;
  right: 100%;
  transform: translate(7%, -5%);
  width: clamp(120px, 20vw, 150px);
  height: clamp(120px, 10vh, 150px);
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px var(--color-shadow);
  transition: 0.6s ease;
}
.menu.show {
  visibility: visible;
  opacity: 1;
}
.menu a {
  text-decoration: none;
  color: var(--bg-color-by);
  font-weight: bold;
  transition: 0.6s ease;
}
.menu a:hover {
  color: var(--bg-color-btn);
}
/** product details */
/*! modal product for cart  */
.modal-cart {
  background-color: var(--color-session);
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  padding: 10px;
  border-radius: 5px;
  transition: 1s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  position: absolute;
}
.modal-cart.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}
.product-order-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
}
#product-image {
  width: 40%;
  max-width: 150px;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  display: block;
  margin: auto;
  object-fit: cover;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-session);
  border-radius: 5px;
  width: 95%;
  margin: 0 auto 10px auto;
  padding: 10px 5px 5px 5px;
}
#title-product {
  line-height: 30px;
  font-weight: bold;
  color: var(--bg-color-by);
}
#product-description {
  color: var(--bg-color-hover);
}
.add-to-cart-btn {
  background-color: var(--bg-color-by);
  color: var(--color-session);
  width: 35%;
  height: 4vh;
  border-radius: 100px;
  cursor: pointer;
  transition: 1s ease;
}
.add-to-cart-btn:hover {
  background-color: var(--color-session);
  color: var(--bg-color-btn);
}
#price-product-all {
  display: inline;
  font-weight: bold;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
#by-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 0 5px;
}
#lable-price {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--bg-color-by);
}
#price-product {
  display: inline;
  color: var(--bg-color-by);
  font-weight: bold;
}
#price-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#note {
  line-height: 35px;
  width: 100%;
  text-align: right;
  color: #db071c90;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.preset-button {
  background-color: var(--bg-color-btn);
  height: 3.5vh;
  color: var(--color-session);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px -3px #0000001a;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.preset-button:hover {
  box-shadow: inset 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
/** footer  */
hr {
  width: 100%;
  border: 1px solid var(--bg-color-hover);
  border-radius: 5px;
}
.copy-container {
  width: 90%;
  margin: 5px auto;
}
#copyright {
  font-size: 10px;
  font-weight: bold;
  color: var(--color-copyright);
  text-align: left;
}
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--color-session);
  color: var(--bg-color-by);
  width: 95%;
  margin: 10px auto 0 auto;
  padding: 5px;
  border-radius: 5px;
  box-shadow:
    0px -10px 15px -3px var(--color-shadow),
    0px 10px 15px -3px var(--color-shadow);
}
.link {
  color: var(--bg-color-by);
}
/* change weight */
.box-weight {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
#add,
#remove {
  display: flex;
  align-items: center;
  background-color: var(--bg-color-by);
  color: var(--color-session);
  width: clamp(25px, 2vw, 80px);
  height: clamp(25px, 2vw, 80px);
  border-radius: 100px;
  transition: 0.6s ease;
  cursor: pointer;
}
#add:hover,
#remove:hover {
  background: var(--color-session);
  color: var(--bg-color-by);
}
#show-weight {
  width: 50px;
  text-align: center;
  color: var(--bg-color-by);
  transition: 0.6s ease;
}
/** order list */
#img-card-shopping-cart {
  width: clamp(80px, 30%, 100px);
}
.card-shopping-cart {
  display: flex;
  flex-direction: row;
  border: 1px dotted var(--bg-color-by);
  width: 95%;
  margin: 0 auto 5px auto;
  border-radius: 5px;
  padding: 0 5px;
  justify-content: space-between;
}
.container-card-shopping-cart {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 50vh;
}
#price-shopping-cart {
  text-align: center;
  color: var(--bg-color-btn);
  font-weight: bold;
}
#container-info-shopping-cart {
  width: 100%;
  text-align: right;
}
#title-product-shopping-cart {
  font-weight: bold;
}
#separator-card-shopping-cart {
  border: 1px solid var(--bg-color-hover);
}
.container-total-shopping-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  direction: rtl;
  font-weight: bold;
  line-height: 40px;
}
#final-btn-shopping-cart {
  width: 60%;
  margin: auto;
  padding: 5px;
  background-color: var(--bg-color-btn);
  color: var(--color-session);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.6s ease;
}
#final-btn-shopping-cart:hover {
  background-color: var(--color-session);
  color: var(--bg-color-btn);
}
.order-list {
  flex-shrink: 1;
  margin-left: 10px;
  width: 40%;
  min-width: 10%;
  background-color: var(--color-session);
  height: 55.4vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
}
@media screen and (max-width: 650px) {
  .order-list {
    display: none;
  }
}
/** count product cart */
.count-product-cart {
  position: absolute;
  color: var(--color-session);
  background-color: #101010ad;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  transform: translate(10px, 12px);
  font-size: 12px;
  display: none;
}
#cart {
  position: relative;
}
.hide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242424bf;
  display: none;
  z-index: 5;
}
